@model IndexViewModel

<div class="container">
    <!-- Button para abrir el modal -->
  

    <div class="row">
        @foreach (var card in Model.Cards)
        {
            @await Html.PartialAsync("_Card", card)
        }
    </div>

</div>
@await Html.PartialAsync("_Create", Model.NewCard)




             
               
   

  
